extends layout

block content
  h1 Live Scoreboard
 
  table.teams
    thead
      tr
        th Team
        th Score
    tbody
      tr
        td Team 1
        td 
          span.team1 2
      tr
        td Team 2
        td 
          span1.team2 2
      tr
        td Team 3
        td 
          span.team3 5
      tr
        td Team 4
        td 
          span.team4 6
      tr
        td Team 5
        td 
          span.team5 2
