extends layout

block content
  h1 Live Scoreboard
 
  table.teams
    thead
      tr
        th Team
        th Score
    tbody
      tr
        td Team1
        td 
          span 10
      tr
        td Team1
        td 
          span 10
      tr
        td Team1
        td 
          span 10
      tr
        td Team1
        td 
          span 10
      tr
        td Team1
        td 
          span 10
