extends layout

block content
  h1 Live Scoreboard
 
  table.games
    thead
      tr
        th Games
        th Rating
    tbody
      tr
        td Grand Theft Auto V
        td 
          span.game1 2
      tr
        td Minecraft
        td 
          span1.game2 2
      tr
        td God of War
        td 
          span.game3 5
      tr
        td Super Mario
        td 
          span.game4 6
      tr
        td Red Dead Redemption
        td 
          span.game5 2

  script(src='/javascripts/app.js')