extends layout

block content
  h1 Update scoreboard

  select.dropdown(name='games' class='gameDropdown')
    option(value='game1') Grand Theft Auto V
    option(value='game2') Minecraft
    option(value='game3') God of war
    option(value='game4') Super Mario
    option(value='game5') Red Dead Redemption @

  input(type='number' value="0" min='0' class='scoreInput')
  input(type='submit' value="update score" class="updateButton")

  script(src='/javascripts/update.js')




