extends layout

block content
  h1 Update scoreboard

  select.dropdown(name='teams')
    option(value='team1') Team 1
    option(value='team2') Team 2
    option(value='team3') Team 3
    option(value='team4') Team 4
    option(value='team5') Team 5

  input(type='number' value="0" min='0')
  input(type='submit' value="update score")

    





