body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.teams {
  width: 400px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #5c6fff;
  border-style: solid;
  color: #000000;
 

}
table.teams tr:nth-child(6n+2),
table.teams tr:nth-child(6n+4){
  background: #bfc3ff;
} 
table.teams td, table.teams th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 1em;
}
table thead{
  background: #8fadff;
}